@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
@include backgroundColor;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4% 4%;
  h1 {
    @include title;
  }
}
body {
  button {
    @include button;
  }
}
